/* Variables CSS */
:root {
  --clr-turquoise: #000000; 
  --clr-medium-spring-green: #000000; 
  --clr-venetian-red: #000000; 
}

body {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  background-color: rgb(27, 27, 27);
}

.wrapper {
  display: grid;
  grid-template: 10% 40% 50%/ 0.5fr 0.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  min-height: 400px;
}

.reInitAll {
  grid-column: 9;
  grid-row: 1;
  display: flex;
  justify-content: flex-end;
  padding: 10px 5px 0 0;
}

.reInitAll > button {
  font-size: 0.7em;
  font-weight: 900;
  font-family: 'Bahnschrift';
  border-radius: 10px;
  transition-duration: 0.3s;
}

.reInitAll > button:hover {
  background-color: black;
  border: 2px solid white;
  color: white;
}

.recap {
  display: flex;
  margin: 0;
  align-items: center;
  font-size: 0.7em;
}

span {
  color: rgb(255, 19, 19);
}

.firstContainer {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content: flex-start;
  grid-column: 2/ span 3;
  grid-row: 2;
}

.firstContainer > input {
  margin: 0 5px;
  width: 120px;
  text-align: left;
  border: 2px solid black;
}

.firstContainer > button {
  width: 120px;
  margin: 0 9px;
  background-color: rgb(243, 213, 157);
  border: 2px solid rgb(243, 213, 157);
  font-weight: 900;
  font-family: 'Bahnschrift';
  border-radius: 10px;
  transition-duration: 0.3s;
}

.firstContainer > button:hover {
  color: white;
  border: 2px solid white;
}

.firstContainer > p {
  font-size: 1em;
  font-family: corbel;
  margin: 0;
}

.addAction {
  display:flex;
  align-items: center;
  justify-content: center;
  grid-column: 5;
  grid-row: 2;
}

.addAction > button {
  background-color: rgb(175, 116, 116);
  font-weight: 900;
  font-family: 'Bahnschrift';
  border-radius: 10px;
  transition-duration: 0.3s;
}

.addAction > button:hover {
  color: white;
  border: 2px solid white;
}

.table {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  font-family: corbel;
  grid-column: 2/ span 4;
  grid-row: 3;
  height: 90px;
}

.row {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  border: solid black 1px;
  background-color: rgb(161, 161, 161);
}

.row > p {
  margin: 5px 0;
  height: 18px;
  font-size: 1em;
}

.row > button {
  height: 18px;
  display: flex;
  align-items: center;
  margin: 5px 0;
  border-radius: 5%;
}

.row > p:first-of-type {
  background-color: black;
  color: rgb(243, 213, 157);
  width: 180px;
  text-align: center;
}

.myForm {
  grid-column: 6/ span 4;
  grid-row: 3;
}

.columnContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  height: 90px;
}

.opacity1 {
  opacity: 0.3;
}

.opacity2 {
  opacity: 1;
}

.column {
  display: flex;
  border: 1px solid black;
  flex-flow: column wrap;
  align-items: center;
  background-color: rgb(161, 161, 161);
}

.column > p {
  background-color: black;
  color: rgb(175, 116, 116);
  width: 180px;
  text-align: center;
  margin: 5px 0;
  font-family: corbel;
}

select {
  width: 130px;
  height: 20px;
  text-align: left;
  margin: 20px 25px;
  font-family: verdana;
}

input {
  height: 18px;
  width: 85px;
  margin: 18px 0;
  text-align: right;
  font-family: verdana;
}

input[disabled] {
  border-color: var(--clr-venetian-red);
  background-color: rgb(214, 214, 214);
  color: black;
}

input[name="qte"] {
  border-color: var(--clr-medium-spring-green);
}

input[name="ref"] {
  text-align: center;
}

input[name="total"] {
  width: 100px;
}

.total {
  display: flex;
  flex-flow: column nowrap;
  align-self: center;
  width: 182px;
  padding: 20px 0 20px 20px;
}

.total > input {
  margin:0;
}

.total > p {
  font-family: corbel;
  color: white;
  margin: 0;
}

.commandLine {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  grid-column: 7/ span 2;
  grid-row: 2;
  justify-content: center;
}

.commandLine > button {
  padding: 5px 15px;
  font-size: larger;
  font-weight: 900;
  font-family: 'Bahnschrift';
  transition-duration: 0.3s;
}

.commandLine > button:first-of-type:hover {
  color: rgb(21, 128, 21);
}

.commandLine > button:last-of-type:hover {
  color: rgb(252, 24, 24);
}

.commandLine > button:hover[disabled] {
  color: rgb(82, 82, 82);
}

button {
  font-family: corbel;
}

@media screen and (max-width: 672px) {
  .firstContainer > input {
    margin: 0 5px;
    width: 80px;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 0.5em;
  }

  .firstContainer > button {
    width: 80px;
    margin: 0 8px;
    font-size: 0.5em;
  }

  .firstContainer > p {
    font-size: 0.5em;
  }

  .addAction > button {
    font-size: 0.5em;
  }

  .row > p {
    margin: 2px 0;
    height: 9px;
    font-size: 0.5em;
  }

  .row > button {
    height: 9px;
    margin: 2px 0;
    font-size: 0.5em;
  }

  .row > p:first-of-type {
    width: 120px;
  }

  .column > p {
    width: 120px;
    margin: 2px 0;
    font-size: 0.5em;
  }

  select {
    width: 100px;
    height: 11px;
    margin: 11px 0px;
  }
  
  input {
    height: 9px;
    width: 50px;
    margin: 9px 0;
    font-size: 0.5em;
  }

  .total {
    width: 120px;
  }

  .total > p {
    font-size: 0.5em;
  }

}

@media screen and (min-width: 673px) and (max-width: 990px) {

}

@media screen and (min-width: 991px) {

  .addAction > button {
    height: 50px;
  }
}